*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 60px;
 border-bottom: 1px solid;
}

.name-tag{
    font-size: 2rem;
    font-weight: 700;
    text-decoration: wavy;
    background:linear-gradient(90deg, #00b4d8, #0077b6) ;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
}

header a:hover, .request-link a:hover{
    border-bottom: 1px solid #000;
}

.request{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}

.request-link a{
    text-decoration: none;
    color: #000;
    margin-right: 5px;
    font-weight: 700;
}

.search{
    width: 300px;
    border: 1px solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.search input{
    width: 80%;
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 10px;
}

main{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h1{
    margin-bottom: 30px;
}

.input-group{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input-group label, .input-group input{
    display: block;
}

.invalid .error-msg{
    display: block;
    color: red;
    border: 1px solid rgba(203, 8, 8, 0.5);
    width: 50%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: blanchedalmond;
}

label{
    margin-bottom: 5px;
    opacity: 0.8;
    font-size: 0.9rem;
}

.input-group input,.input-group select{
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(101, 8, 8)
}

.dropdown{
    width: 50%;
    height: auto;
    border: 1px solid rgb(5, 137, 58);
}

.dropdown.active .dropdown-content{
    display: block;
}

.dropdown.active #dropdown-arrow{
   transform: rotate(180deg);
}

.dropdown-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: lightgrey;
    cursor: pointer;
}

#postal-div{
    display: none;
}

.dropdown-text{
    margin-left: 10px;
}

.dropdown-content{
    width: 100%;
    margin-top: 10px;
    display: none;
}

.option{
    padding: 3px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(244, 238, 238);

}

.input-group p{
    width: 50%;
    font-size: 0.8rem;
    opacity: 0.8;
}

textarea{
    width: 50%;
    height: 250px;
}

button{
    width: 180px;
    padding: 10px;
    background-color: #000;
    border: none;
    color: yellow;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 100px;
    border-top: 1px solid grey;
}

footer a{
    text-decoration: none;
    color: #7b6f6f;
    display: block;
    margin: 40px 0 0 40px;
    width: 130px;
}

footer a:hover{
    border-bottom: 1px solid;
}

.input-family{
    display: none;
}

#transmission{
    display: none;
}

#enquiry{
    display: none;
}

#account{
    display: none;
}

#my-bookings{
    display: none;
}

#payments{
    display: none;
}

#feedback{
    display: none;
}

@media screen and (max-width: 600px) {
    header{
        width: 100%;
        padding: 10px 30px;
    }

     .name-tag{
        font-size: 1.2rem;
     }

     

     .input-group input,.input-group select,textarea, .invalid .error-msg, button, .dropdown{
        width: 100%;
     }

     .dropdown .dropdown-text{
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
     }

     textarea{
        height: 150px;
     }

     .invalid span{
        font-size: 0.8rem;
     }

     .request{
        flex-direction: column;
     }

     .request-link{
        margin-bottom: 10px;
     }

     .input-group p{
        width: 100%;
     }

     }

